*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../img/fundos/arranha.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: transparent;
    width: 500px;
    box-shadow: #D9B88F 0px 2px 4px, #D9B88F 0px 7px 13px -3px, #D9B88F 0px -3px 0px inset;
}

section h2{
    color: white;
    font-size: 2.5rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: white;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.text{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.paragrafo{
    color: #f5f5f5;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn{
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn:hover{
    border-radius: 16px;
    background: black;
    color: white;
}

.escolha{
    padding: 10px;
    border-radius: 10;
}

.escolha:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}